# Arquivo de log de debug do NPM
npm-debug.log*

# Dependências do projeto
node_modules/

# Arquivos de ambiente
.env

# Arquivos gerados pelos testes
__tests__/database.sqlite

# Arquivos de sistema operacional
.DS_Store
Thumbs.db